@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

:root {
    --bg-color-main: white;
    --bg-color-secondary: rgb(245, 245, 245);

    --font-color-main: black;

    --fs-huge: 2.6rem;
    --fs-large: 1.5rem;
    --fs-medium: 1.1rem;
    --fs-small: .8rem;
    --fs-tiny: .6rem;

    --dist-medium: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

body {
    min-height: 100vh;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    display: grid;
    grid: "header header  header" min-content
          ".      content ."      auto
          "footer footer  footer" 10vh
          / auto  60%     auto;
}



/* Header */

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color-secondary);
    padding: var(--dist-medium) 0;
    gap: var(--dist-medium);
    font-weight: 500;
}

header h1 {
    font-size: var(--fs-huge);
}

header .tabs {
    display: flex;
    justify-content: center;
    gap: var(--dist-medium);
}

header .tabs button {
    width: minmax(25vw, 200px);
    border: none;
    font-size: var(--fs-large);
    padding: calc(var(--fs-large) * 0.3) calc(var(--fs-large) * 0.6);
    background: inherit;
    cursor: pointer;
}



/* Content */

#content {
    grid-area: content;
    padding: var(--dist-medium);
}

#content .page {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#content .home {

}

#content .menu .menu-header,
#content .about .about-header {
    font-weight: 500;
}

#content .menu ol {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#content .menu ol li {
    
}



/* Footer */

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color-secondary);
    font-size: var(--fs-medium);
}

footer div {
    display: flex;
    gap: calc(var(--fs-medium) * 0.2);
}

footer h2 {
    font-size: var(--fs-medium);
}



/* Elements */
h1 {
    font-size: var(--fs-huge);
}

h2 {
    font-size: var(--fs-large);
}

li {
    font-size: var(--fs-large);
}

p {
    font-size: var(--fs-medium);
}