@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

:root {
    --color-main: rgb(230, 230, 230);
    
    --bg-color-main: #3e3e3eae;
    --bg-color-red: #ce2b37d0;
    --bg-color-green: #009246d0;

    --font-color-main: black;

    --fs-huge: 2.6rem;
    --fs-large: 1.5rem;
    --fs-medium: 1.1rem;
    --fs-small: .8rem;
    --fs-tiny: .6rem;

    --dist-medium: 1rem;
    --dist-button: calc(var(--fs-large) * 0.3);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

body {
    min-height: 100vh;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    display: grid;
    grid: "header header  header" min-content
          ".      content ."      auto
          "footer footer  footer" min-content
          / auto  60%     auto;
    background: url('img/nik-owens-40OJLYVWeeM-unsplash.jpg');
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
    background-size: cover;
}



/* Header */

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--dist-medium) 0;
    gap: var(--dist-medium);
    font-weight: 800;
    color: var(--color-main);
    background: var(--bg-color-green);
}

header h1 {
    font-size: var(--fs-huge);
}

header .tabs {
    display: flex;
    justify-content: center;
    gap: var(--dist-medium);
}

header .tabs button {
    width: minmax(25vw, 200px);
    border: none;
    font-size: var(--fs-large);
    padding: var(--dist-button) calc(var(--dist-button) * 2);
    background: inherit;
    cursor: pointer;
}



/* Tab hover effects */
header .tabs button {
    transition: all .5s ease-in-out;
    position: relative;
}

header .tabs button:hover {
    transform: translateY(calc(-0.4 * var(--dist-button)));
}

header .tabs button::after { /* Line effect */
    position: absolute;
    content: "";
    width: calc(100% - 4 * var(--dist-button));
    height: 2px;
    bottom: var(--dist-button);
    left: calc(2 * var(--dist-button));
    background: var(--color-main);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  header .tabs button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}



/* Content */

#content {
    grid-area: content;
    padding: calc(var(--dist-medium) * 3) calc(var(--dist-medium) * 4);
    background: var(--bg-color-main);
    color: var(--color-main);
}

#content .page {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#content .home {

}

#content .home .home-header,
#content .menu .menu-header,
#content .about .about-header {
    font-weight: 500;
    align-self: center;
}

#content .menu ol {
    margin-left: 2rem;
    margin-bottom: 2rem;
}



/* Footer */

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--fs-medium) * 0.6);
    font-size: var(--fs-medium);
    color: var(--color-main);
    background: var(--bg-color-red);
}

footer div {
    display: flex;
    gap: calc(var(--fs-medium) * 0.2);
}

footer h2 {
    font-size: var(--fs-medium);
}



/* Shadows */

.side-shadows {
    position: relative;
}

.side-shadows:before,
.side-shadows:after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 1rem;
}

.side-shadows:before {
    box-shadow: -1rem 0 1rem -1rem inset var(--bg-color-main);
    left: -1rem;
}

.side-shadows:after {
    box-shadow: 1rem 0 1rem -1rem inset var(--bg-color-main);
    right: -1rem;
}



/* Elements */
h1 {
    font-size: var(--fs-huge);
}

h2 {
    font-size: var(--fs-large);
}

li {
    font-size: var(--fs-large);
}

p {
    font-size: var(--fs-medium);
}